.cart-items {
  list-style: none;
  margin: 0;
  max-height: 20rem;
  overflow: auto;
  padding: 0;
}

.total {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  background-color: transparent;
  border: 1px solid #8a2b06;
  border-radius: 25px;
  cursor: pointer;
  font: inherit;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
